html{
    background-color: black;
}

h1{
    text-align: center;
    color : silver;
}

.cadre_centrer
{
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: -100px; /*Très important : - la moitié de la largeur*/
    margin-top: -50px; /*Très important : - la moitié de la hauteur*/
    width: 500px; /*Très important: la largeur, 200px par exemple*/
    height: 400px; /*Très important : la hauteur, 100px par exemple*/
    border: 3px solid silver;
    text-align: center;
    background: silver;
}

p{
    text-align: justify;
}

ul{
    text-align: left;
    background-color: silver;
    width: 200px;
}